---
layout: default
---

<nav class="breadcrumbs">
  {% assign subpaths = page.path | split: '/' %}
  {% if subpaths.last == 'index.md' %}
    {% assign new_length = subpaths.size | minus: 1 %}
    {% assign subpaths = subpaths | slice: 0, new_length %}
  {% endif %}

  [
  {% assign curr_path = '' %}
  {% for subpath in subpaths %}
    {% assign path = subpath | remove: '.md' %}
    {% if forloop.last %}
      <b>{{ path }}</b>
    {% else %}
      {% assign curr_path = curr_path | append: '/' | append: subpath %}
      <a href="{{ curr_path }}">{{ path }}</a>
    {% endif %}
    {% unless forloop.last %}
      | 
    {% endunless %}
  {% endfor %}
  ]
</nav>

{{content}}